/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root.theme-dark {
  --accent-color: #DB00FF;
  --color-hover: rgba(255, 0, 112, 0.40);
  --decor-color: #FF0070;
  --color: #F1B2CE;
  --background-color: #000028;
  --accent-background-color: #FF0070;
  --background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark {
  background-color: var(--background-color);
  background-image: url(../images/cover-image-dark.png);
}

