/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #FFC2E6;
  --color-hover: rgba(50, 49, 45, 0.40);
  --decor-color: #353430;
  --color: #353430;
  --title-color: #353430;
  --background-color: #FFF1F7;
  --accent-background-color: #FF8DCB;
  --background-image: url(../images/cover-image-light.png);
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FFC2E6;
    --color-hover: rgba(50, 49, 45, 0.40);
    --decor-color: #353430;
    --color: #353430;
    --background-color: #FFF1F7;
    --accent-background-color: #FF8DCB;
    --background-image: url(../images/cover-image-light.png);
    }
} 

@media (prefers-color-scheme: light) {
.visually-hidden {
  position: absolute; /* элемент вырывают из потока */
  width: 1px; /* делают элемент очень маленьким, но таким, чтобы не пропал совсем */
  height: 1px;
  margin: -1px; /* элемент убирают из поля зрения, сдвинув на размер самого себя */
  padding: 0; /* обнуляют отступы, они есть у некоторых элементов по умолчанию */
  border: 0; /* убирают границу, она тоже может быть у каких-то элементов */
  clip: rect(0 0 0 0); /* это свойство обрезает видимую область до нулевого значения */
  overflow: hidden; /* на всякий случай скрывают видимое за пределами блока */
  }
}