/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --accent-color: #ffc2e6;
  --color-hover: rgba(50, 49, 45, 0.4);
  --decor-color: #353430;
  --color: #353430;
  --title-color: #353430;
  --background-color: #fff1f7;
  --accent-background-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --decorated-text-color: #fff1f7;
}

.page.theme_light {
  --accent-color: #ffc2e6;
  --color-hover: rgba(50, 49, 45, 0.4);
  --decor-color: #353430;
  --color: #353430;
  --title-color: #353430;
  --background-color: #fff1f7;
  --accent-background-color: #ff8dcb;
  --background-image: url(../images/cover-image-light.png);
  --decorated-text-color: #fff1f7;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ffc2e6;
    --color-hover: rgba(50, 49, 45, 0.4);
    --decor-color: #353430;
    --color: #353430;
    --background-color: #fff1f7;
    --accent-background-color: #ff8dcb;
    --background-image: url(../images/cover-image-light.png);
    --decorated-text-color: #fff1f7;
  }
}
