/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--main-font, Helvetica, Arial, sans-serif);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
}

.header__theme-menu-list {
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  justify-content: center;
  justify-items: center;
}

.header__theme-menu-button {
  padding-block-end: 4px;
  color: var(--decor-color);
  font-family: inherit;
  text-transform: lowercase;
  line-height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-hover);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none;
}

.decorated-text {
  position: absolute;
  top: 20px;
  right: 49px;
  color: var(--decor-color);
  font-family: inherit;
  text-transform: uppercase;
  line-height: 25px;
}

.content__title span::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  width: 9px;
  border-radius: 50%;
  height: 9px;
  background-color: var(--decor-color);
  box-shadow: 0px 0px 4px 2px var(--decor-color);
}

.decor-element::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-inline-start: 20px;
  inset-block-end: 20px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.decor-element::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.content__title {
  position: relative;
  display: grid;
  grid-template-rows: 44vh 1fr 44vh;
  height: 100vh;
  margin-block-end: 60px;
}

.title {
  grid-row: 2 / 3;
}

.content__title-decoration {
  color: var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-family: inherit;
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-background-color);
  line-height: 82.5%;
}

.title-decor {
  margin-block-end: 10px;
  background-color: var(--accent-background-color);
  font-family: inherit;
  color: var(--title-color);
}

.content__blockquote_quote {
  max-width: 491px;
}

.content__blockquote {
  display: grid;
  align-items: center;
  justify-items: end;
  margin-inline: 20px;
  margin-block: 0;
  font-weight: bold;
  grid-row: 3 / 4;
  margin-block-end: 10vh;
}

.content__block {
  display: grid;
  grid-template-columns: minmax(13em, 1fr) 2fr;
  align-items: start;
  gap: 20px;
  line-height: 23.4px;
  margin-inline: 20px;
  margin-block-end: 80px;
}

.content__block_title {
  color: var(--decor-color);
  font-size: 18px;
  font-weight: bold;
}

.block_title {
  margin-block-end: 20px;
}

.short {
  grid-row: 1 / 3;
}

.long {
  grid-row: 1 / 6;
}

.column {
  grid-template-columns: 1fr 1fr 1fr;
}

.content__block_text {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--color);
}

.content__block_text .text:not(:last-of-type) {
  margin-block: 0 20px;
}

.content__block_text .text a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-background-color);
}

.content__block_subtitle {
  font-weight: bold;
  font-size: 18px;
}

.content__block_title-subtitle {
  margin-block-end: 20px;
  font-size: 18px;
}

.block_gallery {
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

img:first-of-type {
  grid-column: 1/3;
  grid-row: 1/2;
}

img:nth-of-type(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

img:nth-of-type(3) {
  grid-column: 1/2;
  grid-row: 2/5;
}

img:nth-of-type(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

img:nth-of-type(5) {
  grid-column: 2/4;
  grid-row: 3/5;
}

.footer {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.text-shadow {
  text-shadow: 2px 2px 0 var(--accent-background-color);
}

span.decor-element::after {
  margin-inline-end: 96%;
}

span.decor-element::before {
  inset-block-start: 421%;
  margin-block-start: 100%;
}

@media (768px <= width < 1024px) {
  .header__theme-menu-list {
    grid-template: none;
    justify-content: end;
    margin-block-start: 192px;
    margin-inline: 20px;
  }

  .column {
    grid-template-columns: 1fr;
  }
}

@media (375px <= width < 768px) {
  .content__block {
    grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
    margin-inline: 10px;
    margin-block-end: 50px;
  }

  .block_title {
    margin-block-end: 20px;
  }
  
}

@media (375px <= width < 768px) {
  .header__theme-menu-list {
    grid-template: none;
    justify-content: end;
    margin-block-start: 75px;
    margin-inline: 10px;
  }

  .title {
    grid-row: 2 / 3;
  }

  .content__blockquote {
    margin-inline: 10px;
  }

  .content__blok-padding:not(:last-of-type) {
    margin-block-end: 50px;
  }

  .header__decorated-text {
    top: 12px;
    right: 41px;
  }

  .decor-element::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decor-element::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    height: 100%;
  }

  img:first-of-type {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  img:nth-of-type(2) {
    grid-column: 1/5;
    grid-row: 2/3;
  }

  img:nth-of-type(3) {
    grid-column: 1/5;
    grid-row: 3/4;
  }

  img:nth-of-type(4) {
    grid-column: 1/5;
    grid-row: 4/5;
  }

  img:nth-of-type(5) {
    grid-column: 1/5;
    grid-row: 5/6;
  }

  .title-padding-mobile {
    margin-block-end: 10px;
  }
}

@media (375px >= width) {
  .header__theme-menu-list {
    grid-template: none;
    justify-content: end;
    margin-block-start: 75px;
    margin-inline: 10px;
  }

  .header__theme-menu-list {
    grid-template: none;
    justify-content: end;
    margin-block-start: 75px;
    margin-inline: 10px;
  }
}
