/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #db00ff;
  --color-hover: rgba(255, 0, 112, 0.4);
  --decor-color: #ff0070;
  --color: #f1b2ce;
  --title-color: #000028;
  --background-color: #000028;
  --accent-background-color: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
  --main-font: "IBM Plex mono";
  --decorated-text-color: #ff0070;
}
